// header
$header-color: #e1e1e1;

// window
$window-button-color: #b4b4b4;
$window-color: white;
$window-button-color-close: #f95353;
$window-button-color-minimize: #edb72c;
$window-button-color-maximize: #5fdb40;
