@import '../../styles/colors.scss';

.window {
  $header-height: 32px;
  $border-radius: 4px;

  width: 500px;
  height: 360px;
  background-color: $window-color;
  border-radius: $border-radius;
  border: 1px solid #e2e2e2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  &_is-dragging {
    border: 1px solid #4494dd;
  }

  &__header {
    background-color: $header-color;
    border-radius: 3px 3px 0 0;
    border: 1px solid $header-color;
    height: $header-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 100%;
    height: calc(100% - #{$header-height});
    border-radius: $border-radius;
  }

  &__icon {
    height: 13px;
    margin-top: 2px;
    margin-left: 11px;
  }

  &__icon_messanger {
    background: url(../../assets/icons/messanger-icon_active.svg) no-repeat center;
    width: 13px;
  }

  &__name {
    font-size: 13px;
    cursor: default;
    margin-bottom: 3px;
    margin-left: 53px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 7px;
  }

  &__button {
    border-radius: 8px;
    height: 13px;
    width: 13px;
    margin-left: 6px;
    background-color: $window-button-color;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &_close:hover {
      background-color: $window-button-color-close;
    }

    &_minimize:hover {
      background-color: $window-button-color-minimize;
    }

    &_maximize:hover {
      background-color: $window-button-color-maximize;
    }
  }
}
